{% extends 'layout.html' %}

{% block body %}
	<h2>BrOzaPardy</h2>
	<div class='notelist'>
	  <!-- Jinja2 code logic inside  curlys %  <h4>Value of board @ if stmt:  <br />{{board}}</h4> -->
		{% if board %}
			{% for cell in board %}
				{% if cell.cat %}
				    <div class='category'>
						<h3>{{cell.cat}}</h3>
					</div>
				{% endif %}
			{% endfor %}
			
				{% for cell in board %}
					{% if cell.ans %}
						<div class='note'>
							<button onclick="valClicked()">{{cell.val}}</button>
							<!-- {{cell.clue}} -->
						</div>
					{% endif %}
				{% endfor %}
			
		{% endif %}
	</div>
{% endblock %}