/*

body { background-color: darkblue; }
button { width:44%; height:100px; background-color:blue; color:blue; margin:20px; font-size:40px; }
button:clicked { color:darkblue; }
label { font-size:20px; }
#l2,#l3,#l4 { margin-left:15%; }
*/

body { background-color: darkblue; }
button { width:44%; height:100px; background-color:blue; color:yellow; margin:20px; font-size:40px; }
button:clicked { color:grey; }
label { font-size:30px; color:cyan; }
#l0,#l1,#l2,#l3,#l4 { width:10%; height:50px; font-size:22px; color:blue; background-color:white; }
#l0 { font-size:18px; width: 8%; }
#l2,#l3,#l4 { margin-left:2%; }
#l1 { margin-left:15%; }