<!DOCTYPE html>
<html>
<head>
    {% block head %}
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/ozapardy.css')}}">
      <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}">
      <title>{% block title %}{% endblock %} - OzaPardy</title>
    {% endblock %}
</head>
<body id=ozaPardy>
{% if timer is undefined() %}
  {% set timer = "0:00" %}
{% endif %}
<div style="background-color:darkblue; text-align:center; margin:0px; ">

  <form method="post" action="/getTeamname">
    <a href="/">
     <img id="t0"; src="{{url_for('static', filename='img/gear.gif')}}" alt="Init Game" style="width:30px;height:30px;">
    </a>

    <label style="margin-left: 5%">TIMER : </label><label id="timer">{{ timer }}</label>
    <input type="submit" name="submit" id="t1" value={{ teams[0].name }}:>
      <label id="s1">{{ teams[0].score }}</label>
    <input type="submit" name="submit" id="t2" value={{ teams[1].name }}:>
      <label id="s2">{{ teams[1].score }}</label>
    <input type="submit" name="submit" id="t3" value={{ teams[2].name }}:>
      <label id="s3">{{ teams[2].score }}</label>
    <input type="submit" name="submit" id="t4" value={{ teams[3].name }}:>
      <label id="s4">{{ teams[3].score }}</label>
    <hr>
  </form>
</div>

<div id="content">{% block content %}{% endblock %}</div>
</body>
</html>