{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
  {{ super() }}  {# This will permit the parent template 'base.html' to render #}
  <script type="text/javascript">
  function blank(btnId) {
    $("btnId").css('visibility','hiddden');
  }
  </script>

{% endblock %}

{% block content %}

  <div style="text-align:center">
    <span>  <!-- This will write the categories to the webpage -->
      {% for cat in cats %}
        {% set myId = "cat"~loop.index %}
        {% set myHref = "/" ~ myId %}
        <div class=cat><label class=cat; id={{myId}} %}>{{cat}}</label></div>
      {% endfor %}
    </span>
    <!-- This will create value boxes on screen -->
    <div style="text-align:center">
      {% for row in [0,1,2,3,4] %}
      <span>
        {% set outerloop = loop %}
        {% for col in [0,1,2,3,4,5] %}
          {% set myId = "clue"~loop.index~outerloop.index %}
          {% set myHref = "/clue" %}
          <a href="#"><button class="gmBox"; onclick="blank({{myId}})"; id={{myId}} %}>{{ bdVal[row][col] }}</button></a>
        {% endfor %}
      </span>
    {% endfor %}
    </div>
  </div>
{% endblock %}
