{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
  {{ super() }}  {# This will permit the parent template 'base.html' to render #}
  <script type="text/javascript">
  // function blank(btnId) {
  //   print (btnID)
  //   btnId.disabled = true;
  // }
  </script>

{% endblock %}

{% block content %}
  <div style="text-align:center">
    <div>  <!-- This will write the categories to the webpage -->
      {% for cat in cats %}
        {% set myId = "cat"~loop.index %}
        {% set myHref = "/" ~ myId %}
        <div class=cat><label class=cat; id={{myId}} ; >{{cat}}</label></div>
      {% endfor %}
    </div>
    <hr />
    <!-- This will create value boxes on screen -->
    <div style="text-align:center">
      {% for row in [0,1,2,3,4,5] %}
      <span>
        {% set outerloop = loop %}
        {% for col in [0,1,2,3,4] %}
          {% set myId = "clue"~loop.index~outerloop.index %}
          <a href="/clue/{{loop.index}}{{outerloop.index}}"><button class="gmBox"; name="{{myId}}"; %}>{{ bdVal[col][row] }}</button></a>
        {% endfor %}
      </span>
    {% endfor %}
    </div>
  </div>
{% endblock %}
