{# this is the child template which will extend the parent "base.html" #}
{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
	{{ super() }}  {# This will permit the parent template 'base.html' to render #}
{% endblock %}

{% block content %}
  <div style="margin:5%; text-align: center; ">
  <div><a href="/board/Single">
	    <button id="index_btn1">Single OzaPardy</button></a></div>
	  <div><a href="/board/Double">
	    <button id="index_btn2">Double OzaPardy</button></a></div>
	  <div><a href="/clue/Final"><button id="index_btn3">Final OzaPardy</button></a></div>
  </div>
{% endblock %}
<!-- <body>
  <p style="color:white;"> Please display the number: {{number}}</p>
</body>
</html>   ?category=["Cat 1", "Cat 2", "Cat 3", "Cat 4", "Cat 5", "Cat 6"]
 -->
