<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>OzaPardy</title>
    <!-- CSS and JS would go here -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/ozapardy.css')}}">
</head>

<body>
<!-- Init Menu & Team Scores -->
<div style="background-color:darkblue; text-align:center; margin:0px; ">
  <a href="/"><img id="l0"; src="{{url_for('static', filename='img/gear.gif')}}" alt="Init Game" style="width:30px;height:30px;"></a>
  <a href="/newTeamname"><button id="l1">My team Team 1:</button><label id="s1">00000</label></a>
  <a href="/newTeamname"><button id="l2">Team 2:</button> <label id="s2">00000</label></a>
  <a href="/newTeamname"><button id="l3">Team 3:</button> <label id="s3">00000</label></a>
  <a href="/newTeamname"><button id="l4">Team 4:</button> <label id="s4">00000</label></a>
  <hr style="color:red">
</div>

<!-- <span style="text-align:center">
  {% if iframeSRC is undefined %}
    <iframe id=bottom; src=/home> </iframe> 
  {% else %}
    <p style="color:white"> Subframe is {{ iframeSRC }}</p>
    <iframe id=bottom; src={{iframeSRC}}> </iframe> 
  {% endif %}
</span>
 -->
</body>
</html>